[submodule "externals/libs/SDL_image"]
	path = externals/libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "externals/libs/SDL"]
	path = externals/libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "externals/libs/SDL_ttf"]
	path = externals/libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "externals/libs/libconfig"]
	path = externals/libs/libconfig
	url = https://github.com/hyperrealm/libconfig.git
